.banner{
    background: var(--azul-degrade);
    text-align: center;
    color: var(--branco);
    padding: 0 1em;
}


.banner__pesquisa{
    width: 100%;
    text-align: center;
    border-radius: 24px;
    margin-bottom: 2em;
    color: var(--branco);
    background: var(--azul-degrade);
    border: #FFFFFF solid 1px;
    padding: 5px;
}

.banner__titulo{
    font-size: 18px;
    padding-top: 2em;
    font-weight: 700;
}

.banner__texto{
    padding-top: 1em;
    margin: 0 3em 1em 3em;
}

.banner__pesquisa::placeholder{
    font-family: 'Poppins';
    font-size: 14px;
    text-align: center;
    color: var(--branco);
    background: url(../AluraBooks/Pesquisa.svg);
    background-repeat: no-repeat;
}

@media screen and (min-width: 1024px){
    .banner__titulo{
        font-size: 36px;
    }

    .banner__pesquisa{
        width: 50%;
    }

    .banner__pesquisa::placeholder{
        background-position: 7em;
    }
}

@media screen and (min-width: 1728px){

    .banner__pesquisa{
        width: 35%;
    }

    .banner__pesquisa::placeholder{
        background-position: 12em;
    }

    .banner{
        padding: 5em 0;
    }

    .banner__titulo{
        padding-bottom: 0.5em;
    }

    .banner__texto{
        padding-bottom: 1em;
    }
}